body {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  background-color: black ;
  color: white;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
}

.navbar {
  background-color: rgb(0, 0, 0, 0.4);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  padding: 8px 36px;
  flex-wrap: wrap;
  top: 0;
  position: sticky;
  height: 80px;
}

.left-navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2rem;
  align-items: center;
}

.right-navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
  align-items: center;
}

.navbar a {
  color: #b3b3b3;
  text-align: center;
  text-decoration: none;
}

.navbar a:hover {
  color: white;
  transition: 0.5s;
}

.logout,
.signup {
  margin-left: auto;
}

.login {
  background-color: white;
  padding: 12px;
  color: black;
  border-radius: 500px;
}

.login:hover {
  background-color: #b3b3b3;
  transition: 0.5s;
}

.username {
  text-align: center;
  margin-left: auto;
}

.page #page {
  padding: 0px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}